[submodule "wireguard-android/tunnel/tools/wireguard-tools"]
	path = wireguard-android/tunnel/tools/wireguard-tools
	url = https://git.zx2c4.com/wireguard-tools
[submodule "wireguard-android/tunnel/tools/elf-cleaner"]
	path = wireguard-android/tunnel/tools/elf-cleaner
	url = https://github.com/termux/termux-elf-cleaner
